.heading1 {
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #000205;
    font-size: 92px;
    margin: 0px;
    padding: 0px;
}

.heading2 {
    font-weight: 300;
    font-size: 38px;
    margin: 0px;
    padding: 0px;
}

.header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40vh;
    align-items: center;

    p {
        color: #a7b8b5;
        font-size: 12px;
        text-align: right;
        margin: 0px;
    }

    &__menu {
        margin-top: 42px;
        list-style: none;
        text-transform: uppercase;
        padding: 0px;

        &_item {
            margin: 0px 8px;
            float: left;
        }

        &_item > a, &_item > a:link, &_item > a:visited, &_item > a:active {
            text-decoration: none;
            color: #267491;
        }
    }

}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 122px auto 0 auto;
    max-width: 1180px;

    &__description {
        color: #a7b8b5;
        font-size: 16px;
        font-weight: 200;
    }

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        list-style: none;
        padding: 0px;
    }

    &__item {
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 175px;

        background-color: #267491;
        color: #a7b8b5;
        margin: 6px;
        padding: 12px;

    }

    &__item_icon {
        width: 32px;
        height: 32px;
        fill: red;
    }
}

.about-me {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 72px;

    .heading2 {
      flex-basis: 100%;
      margin-bottom: 64px;
      text-align: center;
    }

    p:first-child {
      margin-top: 0px;
    }

    p {
        text-align: center;
    }

    &__avatar {
      margin-right: 20px;
    }

    &__description {
    }

    &__bio {
        display: flex;
        flex-basis: 100%;
        max-width: 980px;
        flex-wrap: nowrap;
        justify-content: center;
        
    }

    &__timeline {
      margin-top: 32px;
      flex-basis: 100%;
    }

    &__description {
        font-size: 14px;
        font-weight: 300;
    }
}

:root {
  --dot-size: 20px;
  --line-size: 2px;
  
  --anin-basis-point-duration: 500ms;
  --anin-basis-point-delay: 500ms;
  --anin-basis-line-duration: 200ms;
  --anin-basis-line-delay: 1300ms;
  --anin-basis-heading-duration: 500ms;
  --anin-basis-heading-delay: 820ms;
  --anin-basis-content-duration: 500ms;
  --anin-basis-content-delay: 720ms;
}


.timeline {
  list-style: none;
  margin: 0 auto;
  width: 800px;

  &__item {
    --content-direction: 10px;
    
    position: relative;
    float: left;
    font-size: 10px;
    width: 240px;
    
    &  > * { 
      opacity: 0;
    }
    
    &::before {
      content: "";
      width: var(--dot-size);
      height: var(--dot-size);
      display: block;
      border-radius: 50%;
      position: absolute;
      bottom: calc(var(--dot-size) * -1);
      left: calc(var(--dot-size) / 2 * -1);
      background-color: #ae301f;
      transform: scale(0);
    }
    
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: var(--line-size);
      display: block;
      background-color: #754c2e;
      transform: scale(0);
      bottom: calc(var(--dot-size) / 2 * -1);
      z-index: -1;
    }
    
    h4 {
      color: #1c0603;
      font-size: 12px;
      padding-left: 4px;
      transition: all 1s;
      text-transform: uppercase;
      border-left: 2px solid #754c2e;
    }
    
    p {
      color: #f3f6fb;
      width: 200px;
      padding-left: 4px;
      border-left: 2px solid #754c2e;
    }
  }
}

.bottom {
  --content-direction: -10px;
  h4 {
    position: relative;
    top: 110px;
  }
  
  p {
    position: relative;
    top: 110px;
  }
}

//Basic Style

//Animations Config//
.timeline {
  &__item {
    &::before {     
      animation-iteration-count: 1;
      animation-duration: var(--anin-basis-point-duration);
      animation-fill-mode: forwards;
      animation-name: anin-point;
    }
    
    &::after {      
      animation-iteration-count: 1;
      animation-duration: var(--anin-basis-line-duration);
      transform-origin: 0% 50%;
      animation-fill-mode: forwards;
      animation-delay: var(--anin-basis-line-delay);
      animation-name: anin-line;
    }
    
    h4 {
      animation-iteration-count: 1;
      animation-duration: var(--anin-basis-heading-duration);
      animation-fill-mode: forwards;
      animation-delay: var(--anin-basis-heading-delay);      
      animation-name: anin-content;
    }
    
    p {
      animation-iteration-count: 1;
      animation-duration: var(--anin-basis-content-duration);
      animation-fill-mode: forwards;
      animation-delay: var(--anin-basis-content-delay);      
      animation-name: anin-content;
    }
  }
}

//Animations Sync//
.timeline { 
  
  @for $item from 2 through 3 {
    
    &__item:nth-child(#{$item}) {
      
      &::before {
        animation-delay: calc(
          var(--anin-basis-point-duration) * #{$item}
          +
          var(--anin-basis-line-duration) * #{$item}
        );
      }
      
      &::after {
        animation-delay: calc(
          var(--anin-basis-point-duration) * (#{$item} - 1)
          +
          var(--anin-basis-line-duration) * (#{$item} - 1)
          +
          var(--anin-basis-line-delay)
        );
      }

      & p {
        animation-delay: calc(
          var(--anin-basis-point-duration) * (#{$item} - 1)
          +
          var(--anin-basis-content-duration) * (#{$item} - 1)
          +
          var(--anin-basis-content-delay)
        );
      }

      & h4 {
        animation-delay: calc(
          var(--anin-basis-point-duration) * (#{$item} - 1)
          +
          var(--anin-basis-heading-duration) * (#{$item} - 1)
          +
          var(--anin-basis-heading-delay)
        );
      }
    }
    
  }
}

//Animations//
@keyframes anin-point {
  0% {
    transform: scale(0);
  }
  
  60% {
    transform: scale(.50);
  }
  
  70% {
    transform: scale(1.50);
  }
  
  80% {
    transform: scale(0.75);
  }
  
  90% {
    transform: scale(1.25);
  }
  
  100% {
    transform: scale(1);
  }
}

@keyframes anin-line {
  0%{
    transform: scale(0);
  }
  
  50% {
    transform: scale(0.4);
  }

  100%{
    transform: scale(1);
  }
}

@keyframes anin-content {
  0%{
    transform: translateY(var(--content-direction));
    opacity: 0;
  }
  
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}


@media (min-width: 320px) {
    .skills {
        &__item {
            // margin: 3px;
            // padding: 6px;
            // width: 146px;
        }
    }
}

@media (min-width: 390px) {
    .skills {
        &__item {
            // width: 172px;
        }
    }
}